[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Cc]lient_Data/
[Ss]erver_Data/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.pdb
*.userprefs
*.DS_Store
*.sublime-project
*.sublime-workspace

# Don't commit builds, put them in Builds
[Bb]uilds/
*.app
*.apk
*.exe
*.mat

*.meta

*.meta

*.mat

*.mat

*.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

*.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

*.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.153_Cube.188_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.154_Cube.189_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.154_Cube.189_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.155_Cube.190_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Cube.155_Cube.190_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/fönsterhål3.001_Cube.019_TRAPPMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/fönsterhål3.001_Cube.019_TRAPPMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/ground_floor_POLYFACE.005_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/ground_floor_POLYFACE.005_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/level_2_POLYFACE.002_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/level_2_POLYFACE.002_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/Level_3_Cylinder.019_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/Level_3_Cylinder.019_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.001_POLYFACE.029_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.001_POLYFACE.029_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.003_POLYFACE.025_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.003_POLYFACE.025_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.622_POLYFACE.1320_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.622_POLYFACE.1320_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.645_POLYFACE.1343_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.645_POLYFACE.1343_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.645_POLYFACE.1343_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.622_POLYFACE.1320_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.645_POLYFACE.1343_FÖNSTERKARMARMat.mat

*.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.622_POLYFACE.1320_FÖNSTERKARMARMat.mat.meta

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.645_POLYFACE.1343_FÖNSTERKARMARMat.mat

Tribe2020/Assets/Art/Models/Buildings/Materials/POLYFACE.622_POLYFACE.1320_FÖNSTERKARMARMat.mat.meta
