[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Cc]lient_Data/
[Ss]erver_Data/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.pdb
*.userprefs
*.DS_Store
*.sublime-project
*.sublime-workspace

# Don't commit builds, put them in Builds
[Bb]uilds/
*.app
*.apk
*.exe
#########################################

# Don't include media material via git
**/[Mm]edia/
#########################################